/* VARIABLES */
:root {
    /* COLORS */
    --color-body: white;
}

/* TYPOGRAPHY */
html {
    /* 62.5% of 16px (default) = 10px */
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
    background: url(../images/Background.png);
    background-size: contain;
}

h1 {
    font-size: 3rem;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

p {
    margin: 0;
}

/* LINKS */
a {
    text-decoration: none;
    color: white;
}

/* LISTS */
.list {
    list-style: none;
    padding-left: 0;
}

/* BLOCKS */
/* TODO: Add desired margins/etc for block-elements */
.block {
    margin-top: 5rem;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* GRIDS */
/* Difficult concept, I know XD */
.grid {
    display: grid;
}

/* NOTE: 'grid-template-columns specifies the number (and widths) of columns in a grid layout */
/* The values are a space-separated list, where each value specifies the size of the respective column */
.grid--1x2 {
    grid-template-columns: 1fr 1fr;
}

.grid--1x2--right {
    grid-template-columns: 1fr 2fr;
}

/* NAVIGATION BAR */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background: #171717;
}

.nav__list {
    width: auto;
    display: flex;
    margin: 0;
}

.nav__item {
    padding-right: 2rem;
    text-transform: uppercase;
}

.nav__title {
    padding-left: 2rem;
}

/* Adding a Hover effect to the Anchors in the nav */
.nav__item > a:hover {
    color: #b0b0b0;
    transition: color 0.2s;
}

/* HERO COMPONENT */
.hero {
    margin-top: 6rem;
}

.hero__image {
    width: 100%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px black;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.hero__heading {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.hero__tagline {
    font-size: 4rem;
    color: #4a104f;
    text-shadow: 1px 1px 2px white, -1px 1px 2px white, 1px -1px 2px white, -1px -1px 2px white;
    font-style: italic;
}

/* MAP */
.map {
    margin-top: 8rem;
}

.map__image {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #290429, -5px 5px 10px #290429, 5px -5px 10px #290429, -5px -5px 10px #290429;
}

.map--content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__header {
    margin-bottom: 2rem;
}

/* FEATURES */
.feature {
    gap: 5rem 5rem; /* Rows | Columns */
    margin: 10rem;
}

.features--header {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.feature__image {
    width: 100%;
}

.feature--content {
    display: flex;
    justify-content: center;
}

.feature:first-of-type {
    margin-top: 3rem;
}

.feature__heading {
    margin: 0 auto;
}

/* PROJECTS */


/* MEET THE TEAM */

