/* VARIABLES */
:root {
    /* COLORS */
    --color-body: white;
}

/* TYPOGRAPHY */
html {
    /* 62.5% of 16px (default) = 10px */
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
    background: url(../images/Background.png);
    background-size: cover;
}

h1 {
    font-size: 3rem;
}

/* LINKS */
a {
    text-decoration: none;
    color: white;
}

/* NAVIGATION BAR */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background: #171717;
}

.nav__list {
    width: auto;
    display: flex;
    margin: 0;
}

.nav__item {
    padding-right: 2rem;
    text-transform: uppercase;
}

.nav__title {
    padding-left: 2rem;
}

/* Adding a Hover effect to the Anchors in the nav */
.nav__item > a:hover {
    color: #b0b0b0;
    transition: color 0.2s;
}

/* LISTS */
.list {
    list-style: none;
    padding-left: 0;
}

