<!-- FEATURES COMPONENT -->
<section class="block container">
    <h2 class="features--header">Quality of Life Features!</h2>
    <!-- Nether Hub Feature -->
    <article class="grid grid--1x2 feature">
      <div class="feature--content">
        <h3 class="feature__heading">Nether HUB</p>
      </div>
      <picture>
        <img
          class="feature__image"
          src="./images/Castle-Portal-2.png"
          alt=""
        />
      </picture>
    </article>
    <!-- Skeleton Farm Feature -->
    <article class="grid grid--1x2 feature">
      <picture>
        <img
          class="feature__image"
          src="./images/skeleton_image.png"
          alt=""
        />
      </picture>
      <div class="feature--content">
        <h3 class="feature__heading">Skeleton Farm</p>
      </div>
    </article>
    <!-- Creeper Farm Feature -->
    <article class="grid grid--1x2 feature">
      <div class="feature--content">
        <h3 class="feature__heading">Creeper Farm</p>
      </div>
      <picture>
        <img
          class="feature__image"
          src="./images/Castle-Potatoes.png"
          alt=""
        />
      </picture>
    </article>
  </section>