<div class="block container member">
  <div class="grid grid--1x2">
    <div class="player">
      <p class="playername">Ronnok</p>
      <img src="./images/Players/Ronnok.png" alt="" />
    </div>
    <div class="quote__container">
      <blockquote class="quote">
        <p class="quote__text">[Fantastible in-game]</p>
        <p class="quote__text">Resident server owner / admin</p>
        <p class="quote__text">
          I do my best to ensure there's always raw materials available in the
          shared castle storage in addition to joining adventures / expeditions!
        </p>
        <p class="quote__text">
          I'm a great warrior if you need someone along who can kill things!
        </p>
        <p class="quote__text">
          We try to avoid cheating, but let me know if there is anything I can
          do for you!
        </p>
      </blockquote>
    </div>
  </div>
</div>
